.thnks_area {
    margin: 60px auto;
    padding: 30px 20px;
    width: 70%;border-radius: 8px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=135, Color=#333333)";/*IE 8*/
-moz-box-shadow: 1px 1px 8px #333333;/*FF 3.5+*/
-webkit-box-shadow: 1px 1px 8px #333333;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
box-shadow: 1px 1px 8px #333333;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=135, Color=#333333); /*IE 5.5-7*/

}
.thnks_area .left_thnx{ margin:0px;}
.thnks_area .left_thnx p{ text-align:center;}
.thnks_area .left_thnx h1{ text-align:center;color: #2c85c4; font-size:40px;}
.thnks_area .right_thnx{ margin:0px;}
.thnks_area .right_thnx img{ width:100%;}






































